@import "_variables.scss";

.column3 {
	.contacts-container {
		display: flex;
		flex-direction: column;
		height: 100%;
		.contacts-form-container {
			border: 4px solid $blue;
			height: 100%;
			padding: 1vh 2.5vh 1vh 2.5vh;
			display: flex;
			flex-direction: column;
			gap: 5px;
			form {
				border-bottom: 4px solid $blue;
				display: grid;
				grid-template-columns: max-content 1fr;
				column-gap: 5px;
				padding-bottom: 5px;
				label {
					color: $blue;
					font-size: 2.5vh;
				}
				input {
					background-color: $white;
					color: $blue;
					border: none;
					outline: none;
					font-size: 2.5vh;
					width: 100%;

					transition: ease-out 0.1s;
				}
				input:hover {
					background-color: $lightBlue;
					color: $white;
				}
				input:focus {
					background-color: $white;
					color: $blue;
				}
			}
		}
	}
}
