@import "_variables.scss";

.column1 {
	display: flex;
	flex-direction: column;
	h1 {
		color: $blue;
		text-align: center;
		font-size: 5rem;
		font-weight: 400;
		letter-spacing: 3px;
		margin: 0;
	}
	.organize-bar {
		background-color: $blue;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0 5px 0 5px;
		h2 {
			text-align: center;
			font-size: 2rem;
			margin: 1rem;
		}
		.organize-btn {
			background-color: $blue;
			color: $white;
			font-size: 1rem;
			font-weight: 600;
			border: 4px solid $white;
			padding: 10px 20px;
			margin: 2px;
			cursor: pointer;
		}
		.organize-btn:hover {
			background-color: #5473ff;
		}
	}
	.weekday-parent-container {
		display: flex;
		flex-direction: column;
		gap: 2px;
		height: 100%;
		margin: 2px 0 2px 0;
		.weekday-container {
			display: flex;
			gap: 2px;
			height: 100%;
			.weekday-btn {
				background-color: $blue;
				color: $white;
				border: none;
				width: 40%;
			}
			.weekday-btn:hover {
				background-color: #5473ff;
				cursor: pointer;
			}
			.task-container {
				border: 4px solid $blue;
				width: 60%;
			}
		}
	}
	.weekend-parent-container {
		display: flex;
		flex-direction: row;
		height: 20%;
		gap: 2px;
		.weekend-child-container {
			width: 100%;
			.weekend-btns {
				background-color: $blue;
				color: $white;
				border: none;
				height: 35%;
				width: 100%;
			}
			.weekend-btns:hover {
				background-color: #5473ff;
				cursor: pointer;
			}
			.weekend-task-container {
				border: 4px solid $blue;
				box-sizing: border-box;
				border-top: 0;
				height: 65%;
			}
		}
	}
}
