@import "_variables.scss";

.organize-bar {
	background-color: $blue;
	color: $white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 0 1.5vh 0 1.5vh;
	h2 {
		font-size: 3.5vh;
		font-weight: 100;
		margin: 1.5vh 0 1.5vh 0;
	}
	.btn-container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.organize-btn {
			background-color: $blue;
			color: $white;
			font-size: 2vh;
			border: 2px solid $white;
			border-top: 2px solid $salmon;
			border-left: 2px solid $salmon;
			height: min-content;
			padding: 1.25vh 1.75vh;
			margin: 2px;
			cursor: pointer;

			transition: ease-out 0.1s;
		}
		.organize-btn:hover {
			background-color: $lightBlue;
		}
	}
}
