@import "_variables.scss";

.organize-bar {
	background-color: $blue;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 5px 0 5px;
	h2 {
		flex: 1;
		font-size: 2rem;
		margin: 1rem;
	}
	.organize-btn {
		background-color: $blue;
		color: $white;
		font-size: 1rem;
		font-weight: 600;
		border: 2px solid $white;
		border-top: 2px solid $salmon;
		border-left: 2px solid $salmon;
		padding: 10px 20px;
		margin: 2px;
		cursor: pointer;

		transition: ease-out 0.1s;
	}
	.organize-btn:hover {
		background-color: $lightBlue;
	}
}
