@import "_variables.scss";

.organize-bar {
	background-color: $blue;
	color: $white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 0 1.5vh 0 1.5vh;
	h2 {
		font-size: 3.5vh;
		font-weight: 100;
		margin: 1.5vh 0 1.5vh 0;
	}
	.btn-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
		justify-content: flex-end;
		.organize-btn {
			background-color: $blue;
			color: $white;
			font-size: 2vh;
			border: 2px solid $white;
			border-top: 2px solid $salmon;
			border-left: 2px solid $salmon;
			height: 5vh;
			width: 10vh;
			margin: 2px;

			box-shadow: inset 0 0 0 0 $salmon;
			transition: ease-in-out 0.3s;
		}
		.organize-btn:hover {
			box-shadow: inset 10vh 10vh 0 0 $salmon;
			border: 2px solid $salmon;
			cursor: pointer;
		}
	}
}
