@import "_variables.scss";
@import "_organize.scss";
@import "_column1.scss";
@import "_column2.scss";
@import "_column3.scss";

html,
body {
	background-color: $white;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	.main-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 2px;
		width: 100%;
		padding: 5%;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
	}
}
