.column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column1 h1 {
  color: #3f48cc;
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 0;
}

.column1 .organize-bar {
  background-color: #3f48cc;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 5px 0 5px;
}

.column1 .organize-bar h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

.column1 .organize-bar .organize-btn {
  background-color: #3f48cc;
  color: #fafafa;
  font-size: 1rem;
  font-weight: 600;
  border: 4px solid #fafafa;
  padding: 10px 20px;
  margin: 2px;
  cursor: pointer;
}

.column1 .organize-bar .organize-btn:hover {
  background-color: #5473ff;
}

.column1 .weekday-parent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  height: 100%;
  margin: 2px 0 2px 0;
}

.column1 .weekday-parent-container .weekday-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  height: 100%;
}

.column1 .weekday-parent-container .weekday-container .weekday-btn {
  background-color: #3f48cc;
  color: #fafafa;
  border: none;
  width: 40%;
}

.column1 .weekday-parent-container .weekday-container .weekday-btn:hover {
  background-color: #5473ff;
  cursor: pointer;
}

.column1 .weekday-parent-container .weekday-container .task-container {
  border: 4px solid #3f48cc;
  width: 60%;
}

.column1 .weekend-parent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 20%;
  gap: 2px;
}

.column1 .weekend-parent-container .weekend-child-container {
  width: 100%;
}

.column1 .weekend-parent-container .weekend-child-container .weekend-btns {
  background-color: #3f48cc;
  color: #fafafa;
  border: none;
  height: 35%;
  width: 100%;
}

.column1 .weekend-parent-container .weekend-child-container .weekend-btns:hover {
  background-color: #5473ff;
  cursor: pointer;
}

.column1 .weekend-parent-container .weekend-child-container .weekend-task-container {
  border: 4px solid #3f48cc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 0;
  height: 65%;
}

html,
body {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

html .main-container,
body .main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  padding: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html .main-container .column2,
body .main-container .column2 {
  border: 2px solid red;
}

html .main-container .column3,
body .main-container .column3 {
  border: 2px solid red;
}
/*# sourceMappingURL=style.css.map */