@import "_variables.scss";
@import "_column1.scss";

html,
body {
	background-color: $white;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	.main-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2px;
		padding: 5%;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		.column2 {
			border: 2px solid red;
		}
		.column3 {
			border: 2px solid red;
		}
	}
}
